
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Foldit:wght@500&display=swap');
 body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap:5em;
    /* background-image: linear-gradient(120deg, #4573bd 0%, #c2e9fb 100%); */
    background: linear-gradient(90deg, rgb(18, 15, 77) 19%, rgb(21, 114, 130) 92%);
}
header{
    /* background-color: #9fcaf7ac; */
    
    color: #fff;
    width: 100vw;
    text-align: center;
    padding-bottom: 1em;
}
.container{
    /* background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%); */
    /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
    background-image: linear-gradient(to top, #cfd9df 0%, #5a869e 100%);
    border-radius: 10px;
    text-align: center;
    width: 80%;
    /* box-shadow: 5px 5px 25px rgb(83, 83, 129); */
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
#user-input-container{
        /* background-image: linear-gradient(to top, #cfd9df 0%, #5a869e 100%); */

    padding-bottom: 2em;
    
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 2.5em;
    color: rgba(3, 3, 3, 0.76);
    text-decoration-line: underline;
    
}
#question-number{
    font-weight: 700;
}
#question{
    /* font-family: 'Times New Roman', Times, serif; */
    font-size: 1.25em;
    
}
nav{
    font-size: 1.2em;
    margin-top: 1em;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: space-around;
}
#user-name{
    font-family: 'Lato', sans-serif;    
   font-size: 1.2em;
   text-decoration :underline;
    /* color: rgb(129, 1, 249); */
}
input[type="text"] {
    background-image: linear-gradient(to top, #cfd9df 0%, #5a869e 100%);
    /* background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%); */
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    border: none;
    border-radius: 5px;
}
.btn{
    background-color: rgba(13, 111, 240, 0.877);
    
    color: aliceblue;
    font-weight: 400;
    font-size: 1em;

    border: none;
    /* margin-left: 1em; */
    padding: 0.5em 1em ;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}
#option-container{
    margin-top: 2em;
}
#user-input{
    margin-top: 3em;
    margin-right: 1.5em;
}
#timer{
    
}
#start-button:hover , #play-again-button:hover{
    background-color: rgb(28, 108, 212);
    transform: scale(1.05);
    
}
#next-button{
    background-color: rgba(31, 207, 28, 0.957);
   
    margin: 1em 1em;
}
#next-button:hover{
    transform: scale(1.05);
    background-color: rgb(119, 179, 30);
    
}
#skip-button{
    background-color: orange;
    margin: 2em 1em;
}
#skip-button:hover{
    transform: scale(1.08);
    background-color: rgba(240, 139, 7, 0.868);

}
#submit-button{
    background-color: rgb(249, 49, 49);
    margin: 1em 1em;
}
#submit-button:hover{
    transform: scale(1.05);
    background-color: rgba(216, 25, 25, 0.911);
}
#play-again-button:hover{

}

#quiz-container{
    display: none;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    padding: 1em 2em;
}

label {
    margin-right: 1em;
}
#result-container {
    padding-bottom: 4%;
    display: none;
    font-size: 1.2em;
}
#jump-buttons-container{
    margin-top: -4%;
}
#jump-buttons-container{
    font-size: 1.5em;
    text-align: center;
    display: none;
}
#jump-buttons-container h2{
    color: rgba(245, 245, 245, 0.852);
    text-decoration:underline overline;
}
#jump-buttons{
    display: grid;
grid-template-columns: repeat(10, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 15px;
grid-row-gap: 10px;
}
.jump-button{
    background-color: rgba(40, 120, 223, 0.877);
    color: #fff;
    outline: none;
    transition: all 0.5s;
    padding: 10px;
    border-radius: 100%;
}
.jump-button:hover{
    
    background-color: rgb(58, 131, 227);
    transform: scale(1.1);
}
.marked{
    background-color: aquamarine;
}
.question-conatiner{
    padding: 9px 0px 3px 0px;
    border: 2px solid  rgba(0, 0, 0, 0.575) ;
    border-radius: 5px;
}
/* ---------------media quesrry------------------- */
@media screen and (max-width: 600px){
    nav{
        display: grid;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 1fr 1fr;
       grid-column-gap: -15px;
       grid-row-gap: 10px;
    }
    .question-conatiner{
        border: none;
    }
    #jump-buttons{
        display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    }
    #option-container{
        margin-top: 0px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
     grid-template-rows: repeat(4, 1fr);
     padding: 10px;
     grid-row-gap: 10px;
    }
    input{
        display: flex;
        text-align: right;
    }
    label{
        margin-right: 10px;
        display: flex;
    }
    .btn{

    }
    input[type="text"]{
       margin-left: 30%;
       margin-bottom: 15px;
    }
    #user-input-container{

    }
    .container{
        text-align: center;
        justify-content: center;
        align-items: center;
        /* height: 50vh; */
    }
}
@media screen and (max-width: 400px){
    .container{
        /* height: 100vh; */
    }
    #option-container{
        margin-top: 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
     grid-template-rows: repeat(2, 1fr);
     padding: 10px;
     grid-row-gap: 10px;
    }
    #jump-buttons{
        display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    }
    .container{
        text-align: center;
        justify-content: center;
        align-items: center;
        /* height: 50vh; */
    }
}